/* contains css of pokemon-grid list component */

:root {
    --light-gray-color: #ccc;
    --dark-gray-color: #636363;
    --primary-red-color: #aa1313;
    --primary-white-color: #fff;
}

/* GRID CONTAINER */
.pokedex-container {
    width: 60%;
    border: 1px solid var(--light-gray-color);
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.pokemon-grid-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.pokemon-item {
    flex: 0 1 calc(33.333% - 10px);
    box-sizing: border-box;
    border: 1px solid var(--light-gray-color);
    border: 4px solid var(--dark-gray-color);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: var(--primary-red-color);
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.pokemon-item:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.pokemon-info-container {
    margin: 0 -10px;
    margin-bottom: -10px;
    padding-top: 10px;
    padding-bottom: 12px;
    border: 1px solid var(--light-gray-color);
    border-top: 4px solid var(--dark-gray-color);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: var(--primary-white-color);
}

.pokemon-apperance-info {
    width: 100%;
    margin: 10px 0;
    display: flex;
    justify-content: space-evenly;
}

.pokemon-weight,
.pokemon-height {
    color: #616161;
}

.pokemon-id {
    margin-bottom: 10px;
    font-weight: bold;
    font-style: italic;
    font-size: 28px;
    color: var(--primary-white-color);
}

.pokemon-name {
    height: 48px;
    color: #000;
    font-size: 20px;
    text-transform: capitalize;
    align-content: center;
}

.img-container {
    position: relative;
    width: 180px;
    height: 180px;
    margin: 0 auto;
    border-radius: 50%;
}

.img-container::before {
    content: '';
    position: absolute;
    display: block;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 185px;
    height: 185px;
    border-radius: 50%;
    border: 4px solid var(--dark-gray-color);
    background-color: var(--primary-white-color);
}

.pokemon-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    margin: 0 auto;
}


/* POKEMON TYPE CSS */
.pokemon-type-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.pokemon-type {
    display: block;
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
}

.pokemon-type.normal {
    background-color: #A8A878;
}

.pokemon-type.fighting {
    background-color: #C03028;
}

.pokemon-type.flying {
    background-color: #A890F0;
}

.pokemon-type.poison {
    background-color: #A040A0;
}

.pokemon-type.ground {
    background-color: #E0C068;
}

.pokemon-type.rock {
    background-color: #B8A038;
}

.pokemon-type.bug {
    background-color: #A8B820;
}

.pokemon-type.ghost {
    background-color: #705898;
}

.pokemon-type.steel {
    background-color: #B8B8D0;
}

.pokemon-type.fire {
    background-color: #F08030;
}

.pokemon-type.water {
    background-color: #6890F0;
}

.pokemon-type.grass {
    background-color: #78C850;
}

.pokemon-type.electric {
    background-color: #F8D030;
}

.pokemon-type.psychic {
    background-color: #F85888;
}

.pokemon-type.ice {
    background-color: #98D8D8;
}

.pokemon-type.dragon {
    background-color: #7038F8;
}

.pokemon-type.dark {
    background-color: #705848;
}

.pokemon-type.fairy {
    background-color: #EE99AC;
}

.pokemon-type.stellar {
    background-color: #FFD700;
}

.pokemon-type.unknown {
    background-color: #68A090;
}


/* NAVIGATE-BAR */
.navigate-bar {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-number {
    height: 100%;
    margin: 0;
    padding: 0;
    line-height: 100%;
    font-weight: bold;
    font-size: 24px;
    color: var(--primary-red-color);
}

.current-page {
    display: block;
    height: 100%;
    line-height: 100%;
    font-weight: bold;
    font-size: 13px;
    color: var(--primary-red-color);
}

.navigate-bar button:hover {
    background-color: #e51515;
}

.navigate-bar button:disabled {
    background-color: #636262;
    cursor: not-allowed;
}

.navigate-bar button {
    padding: 4px 15px;
    padding-bottom: 7px;
    border: 1px solid var(--light-gray-color);
    border-radius: 5px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: var(--primary-white-color);
    cursor: pointer;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    background-color: var(--primary-red-color);
}