<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/global.css">
    <link rel="stylesheet" href="../static/css/pokedex-container.css">
    <link rel="stylesheet" href="../static/css/pokemon-detail.css">
    <link rel="shortcut icon" href="../static/img/favicon.png" type="image/x-icon">
    <title>PokeAPI</title>
</head>

<body>
    <img class="pokemon-logo" src="../static/img/logo.png" alt="PokeAPI">

    <main class="container">
        <section class="pokedex-container">
            <h1 class="section-title">PokéDex</h1>

            <nav class="navigate-bar">
                {% if previous == None %}
                    <button class="previous-page" data-url="{{previous}}" disabled>&#8249;</button>
                {% else %}
                    <button class="previous-page" data-url="{{previous}}">&#8249;</button>
                {% endif %}
                <div class="page-number">{{page}}</div>
                <button class="next-page" data-url="{{next}}">&#8250;</button>
            </nav>

            <div class="pokemon-grid-container">
                {% for pokemon in pokemons %}
                <div class="pokemon-item">
                    <h3 class="pokemon-id"># <span>{{pokemon.id}}</span></h3>

                    <div class="img-container">
                        <img class="pokemon-img" src="{{pokemon.image_url}}"
                            onerror="this.onerror=null;this.src='../static/img/fallback.png';" alt="{{pokemon.name}}">
                    </div>

                    <div class="pokemon-info-container">
                        <h3 class="pokemon-name">{{pokemon.name}}</h3>
                        <div class="pokemon-apperance-info">
                            <h4 class="pokemon-weight"><span>{{pokemon.weight}}</span> kg</h4>
                            <h4 class="pokemon-height"><span>{{pokemon.height}}</span> m</h4>
                        </div>

                        <div class="pokemon-type-container">
                            {% for type in pokemon.types %}
                            <span class="pokemon-type {{type}}">{{type}}</span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>


            <nav class="navigate-bar">
                {% if previous == None %}
                <button class="previous-page" data-url="{{previous}}" disabled>&#8249;</button>
                {% else %}
                <button class="previous-page" data-url="{{previous}}">&#8249;</button>
                {% endif %}
                <div class="page-number">{{page}}</div>
                <button class="next-page" data-url="{{next}}">&#8250;</button>
            </nav>
        </section>

        <section class="pokemon-details">
            <div class="pokemon-details__container">
                <h1 class="section-title">Pokemon Details</h1>
                <div class="pokemon-details__image">
                    <img src="" onerror="this.onerror=null;this.src='../static/img/fallback.png';" alt="Pokemon Image"
                        height="200" width="200">
                </div>
                <div class="pokemon-details__info">
                    <h3 class="pokemon-details__name">name</h3>

                    <div class="table-title">~ Characteristic ~</div>
                    <table class="pokemon-characteristic-table">
                        <tr>
                            <td>HP</td>
                            <td class="pokemon-hp">0</td>
                        </tr>
                        <tr>
                            <td>ATTACK</td>
                            <td class="pokemon-attack">0</td>
                        </tr>
                        <tr>
                            <td>DEFENSE</td>
                            <td class="pokemon-defense">0</td>
                        </tr>
                        <tr>
                            <td>SPECIAL-ATTACK</td>
                            <td class="pokemon-special-attack">0</td>
                        </tr>
                        <tr>
                            <td>SPECIAL-DEFENSE</td>
                            <td class="pokemon-special-defense">0</td>
                        </tr>
                        <tr>
                            <td>SPEED</td>
                            <td class="pokemon-speed">0</td>
                        </tr>
                    </table>

                    <button class="show-more-button">Show more</button>
                </div>
            </div>
        </section>
    </main>

    <script src="../static/js/navigatingPokemons.js"></script>
</body>

</html>